# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/
frontend/dist/

# System files
.DS_Store
Thumbs.db

# User Uploads
uploads/
!uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
